<!-- views/index.ejs -->
<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>EHPAD Harvester</title>
    <meta descr="pour récupérer des listing d'EHPAD">
    
    <form>
    	URL : 
    	<input type="text" name="url"></input>
    	<input type="submit" value="GO Harvest !">
    </form>

</head>
<body>
</body>
</html>