<!-- views/index.ejs -->
<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>EHPAD Harvester</title>
    <meta descr="pour récupérer des listing d'EHPAD">
   
</head>
<body>

	<form>
    	URL : 
    	<input type="text" name="url"></input>
    	<input type="submit" value="GO Harvest !">
    </form>


    <div id="response">
    	<%= error%> </br>
    	status code : <%= statuscode%>
    </div>

</body>
</html>